<div class="login-container">
    <div class="card">
        <form class="form-signin">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" placeholder="Login" required autofocus>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"  class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block" type="submit">login</button>
            </div>
        </form>
    </div>
</div>