<div class="modal-header">
    <h4 class="modal-title" ng-if="!$ctrl.id">Add task</h4>
    <h4 class="modal-title" ng-if="$ctrl.id">Edit task #{{$ctrl.id}}</h4>
</div>
<div class="modal-body">
    <div class="form row">
        <div class="form-group col-md-12">
            <label class="col-md-12">Name task</label>
            <div class="col-md-12">
                <input type="text" class="form-control" ng-model="$ctrl.addTask.name">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-12">Time</label>
            <div class="col-md-12">
                <!--<input type="text" class="form-control" ng-model="$ctrl.addTask.time">-->

                <input type="time" class="form-control" placeholder="HH:mm" min="00:00" max="24:00" ng-model="$ctrl.addTask.time" ng-model-options="{timezone: 'UTC'}" required>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-12">Cost</label>
            <div class="col-md-12">
                <input type="text" class="form-control" ng-model="$ctrl.addTask.cost">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-12">Status</label>
            <div class="col-md-12">
                <select class="form-control" name="status" ng-model="$ctrl.addTask.status">
                    <option value="">Please select</option>
                    <option value="open" ng-selected="">Open</option>
                    <option value="progress">Progress</option>
                    <option value="close">Close</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-12">Message</label>
            <div class="col-md-12">
                <textarea class="form-control" rows="3" ng-model="$ctrl.addTask.message"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group row col-md-12">
        <div class="col-md-12 text-center">
            <button class="btn btn-success"
                    type="submit"
                    ng-if="!$ctrl.id"
                    ng-disabled="$ctrl.validationForm()"
                    data-dismiss="modal"
                    ng-click="$ctrl.addNewTask()">
                Add
            </button>
            <button class="btn btn-success"
                    type="submit"
                    ng-if="$ctrl.id"
                    ng-click="$ctrl.editTask($ctrl.id)">
                Edit
            </button>
        </div>
    </div>
</div>