<div class="row" ng-controller="TimeTrackerCtrl as timeTracker">
    <div class="col-md-9">
        <div ng-init="timeTracker.initTimeTrackerCtrl()">
            <div class="panel panel-default" ng-if="timeTracker.getDataTable().length">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2 ng-bind="timeTracker.title"></h2>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group items-per-page" uib-dropdown is-open="status.isopen">
                                    <button type="button"
                                            class="btn btn-default"
                                            uib-dropdown-toggle
                                            ng-disabled="disabled">
                                        <span ng-bind="timeTracker.itemsPerPage"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                        <li>
                                            <a ng-click="timeTracker.setItemsPerPage(1)">1</a>
                                        </li>
                                        <li>
                                            <a ng-click="timeTracker.setItemsPerPage(5)">5</a>
                                        </li>
                                        <li>
                                            <a ng-click="timeTracker.setItemsPerPage(10)">10</a>
                                        </li>
                                        <li>
                                            <a ng-click="timeTracker.setItemsPerPage(20)">20</a>
                                        </li>
                                        <li>
                                            <a ng-click="timeTracker.setItemsPerPage(50)">50</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table--task">
                        <thead>
                        <tr>
                            <th class="index sort" ng-click="timeTracker.sort('id')">ID</th>
                            <th class="name sort" ng-click="timeTracker.sort('name')">Name</th>
                            <th class="time sort" ng-click="timeTracker.sort('time')">Time</th>
                            <th class="cost sort" ng-click="timeTracker.sort('cost')">Cost</th>
                            <th class="status sort" ng-click="timeTracker.sort('status')">Status</th>
                            <th class="message">Message</th>
                            <th class="data-create sort" ng-click="timeTracker.sort('dateCreate')">dateCreate</th>
                            <th class="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="value in timeTracker.getDataTable() | orderBy:timeTracker.sortKey:timeTracker.reverse track by $index">
                            <td class="index" ng-bind="value.id"></td>
                            <td class="name" ng-bind="value.name"></td>
                            <td class="time">
                                <i class="glyphicon glyphicon-time"></i>
                                <span ng-bind="value.time * 1000 | date:'HH:mm:ss'"></span>
                            </td>
                            <td class="cost" ng-bind="value.cost"></td>
                            <td class="status">
                            <span class="label label-default"
                                  ng-class="{'label-danger' : value.status == 'close', 'label-primary' : value.status == 'progress'}"
                                  ng-bind="value.status"></span>
                            </td>
                            <td class="message" ng-bind="value.message"></td>
                            <td class="data-create" ng-bind="value.dateCreate | date:'dd-MM-yyyy HH:mm'"></td>
                            <td class="action">
                                <button class="btn btn-danger btn-sm"
                                        ng-click="timeTracker.removeTask(timeTracker.getRemoveTask($index))">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                                <button class="btn btn-default btn-sm"
                                        ng-click="timeTracker.editTask(value.id)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button class="btn btn-success btn-sm"
                                        ng-if="!timeTracker.btnStartTask[value.id]"
                                        ng-disabled="!timeTracker.btnDisableStartTimeTracker"
                                        ng-click="timeTracker.startTimerTask(value.id)">
                                    <i class="glyphicon glyphicon-play"></i>
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        ng-if="timeTracker.btnStartTask[value.id]"
                                        ng-click="timeTracker.stopTimerTask(value.id)">
                                    <i class="glyphicon glyphicon-stop"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <ul uib-pagination class="pagination-sd"
                        total-items="timeTracker.totalItems"
                        ng-model="timeTracker.currentPage"
                        ng-change="timeTracker.pageChanged()"
                        items-per-page="timeTracker.itemsPerPage"></ul>
                </div>
            </div>

            <div>
                <div class="" ng-if="timeTracker.devProgress">
                    <button class="btn btn-primary"
                            ng-click="timeTracker.generationValue()">
                        click generation
                    </button>
                    <button class="btn btn-danger"
                            ng-click="timeTracker.removeValue()">
                        click remove
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Action</h2>
        <button type="button" class="btn btn-default" ng-click="timeTracker.openModalAddTask('sm')">
            Add task
        </button>

        <div class="panel panel-default" ng-if="false">
            <div class="panel-body">
                <ul class="list-unstyled timeline widget">
                    <li ng-repeat="n in [1,2,3,4]">
                        <div class="block">
                            <div class="block_content">
                                <h2 class="title">
                                    <a>Who Needs Sundance When You’ve Got Crowdfunding?</a>
                                </h2>
                                <div class="byline">
                                    <span>13 hours ago</span> by <a>Jane Smith</a>
                                </div>
                                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers.
                                    They were where you met the producers that could fund your project, and if
                                    the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>