<!DOCTYPE html>
<html ng-app="app">
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>

        <!-- build:css css/vendor.min.css -->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/angular-bootstrap/ui-bootstrap-csp.css">
        <!-- endbuild -->

        <!-- build:css css/main.min.css -->
        <link rel="stylesheet" href="css/main.css">
        <!-- endbuild -->
    </head>
<body class="body-container">

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" ng-controller="TimeTrackerCtrl as timeTracker">
            <div class="col-md-6">
                <div ng-init="timeTracker.initTimeTrackerCtrl()">
                    <h2 ng-bind="timeTracker.title"></h2>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Index</th>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Cost</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tboby>
                                <tr ng-repeat="value in timeTracker.values track by $index">
                                    <td ng-bind="$index"></td>
                                    <td ng-bind="value.title"></td>
                                    <td ng-bind="timeTracker.timeFormat(value.time)"></td>
                                    <td ng-bind="value.cost"></td>
                                    <td ng-bind="value.message"></td>
                                    <td>
                                        <button class="btn btn-danger"
                                                ng-click="timeTracker.removeTask($index)"
                                                ng-bind="'Remove'"></button>
                                    </td>
                                </tr>
                            </tboby>
                        </table>
                        <!--<ul class="list-group">-->
                        <!--<li class="list-group-item" >-->
                        <!--<h4 class="list-group-item-heading" ng-bind="value.title"></h4>-->
                        <!--<p class="list-group-item-text" ng-bind="timeTracker.timeFormat(value.time)"></p>-->
                        <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">$</span>-->
                        <!--<input type="text" class="form-control" ng-value="value.cost" ng-disabled="true">-->
                        <!--</div>-->
                        <!--</li>-->
                        <!--</ul>-->

                        <button ng-click="timeTracker.generationValue()">click generation</button>
                        <button ng-click="timeTracker.getValue()">click get</button>
                        <button ng-click="timeTracker.removeValue()">click remove</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <div class="form-group row col-md-12">
                        <label class="col-md-12">Name task</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="timeTracker.addTask.name">
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="col-md-12">Time</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="timeTracker.addTask.time">
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="col-md-12">Cost</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="timeTracker.addTask.cost">
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label class="col-md-12">Message</label>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" ng-model="timeTracker.addTask.message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success"
                                type="submit"
                                ng-disabled="timeTracker.validationForm()"
                                ng-click="timeTracker.addNewTask()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3 ng-bind="timeTracker.timeCounter"></h3>
                <button class="btn btn-primary"
                        ng-disabled="timeTracker.btnStartTimer"
                        ng-click="timeTracker.startCounter()">startCounter
                </button>

                <button class="btn btn-danger"
                        ng-disabled="!timeTracker.btnStartTimer"
                        ng-click="timeTracker.stopCounter()">stopCounter
                </button>
            </div>
        </div>
    </div>
</div>

<!-- build:js scripts/vendor.min.js -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/app.min.js -->
<script src="scripts/app.js"></script>

<script src="scripts/shared/services/local-storage-service.js"></script>

<!--<script src="scripts/controllers/main.controller.js"></script>-->

<script src="scripts/controllers/time-tracker/time-tracker-controller.js"></script>
<!-- endbuild -->

</body>
</html>