/* Table size th and td */

.table--task {
  .index {
    width: 5%;
  }
  .time {
    width: 10%;
  }
  .cost {
    width: 10%;
  }
  .status {
    width: 5%;
  }
  .message {
    width: 20%;
  }
  .data-create {
    width: 15%;
  }
  .action {
    width: 15%;
  }
}