@import "timeline";

.wrapper-block {
  height: calc(100vh - 50px);
  padding: 12px;
  overflow: auto;
}

.body-container {
  padding-top: 50px;
}

.main {
  width: 100%;
  display: flex;
}

ul.timeline li {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  clear: both;
}


/* Table */
.table--task {
  .index {
    width: 5%;
  }
  .time {
    width: 10%;
  }
  .cost {
    width: 10%;
  }
  .status {
    width: 5%;
  }
  .message {
    width: 20%;
  }
  .data-create {
    width: 15%;
  }
  .action {
    width: 15%;
  }
}