@import "table";
@import "table-size";
@import "timeline";
@import "button";
@import "label";
@import "dropdown-menu";
@import "login";

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.wrapper-block {
  height: calc(100vh - 50px);
  padding: 12px;
  overflow: auto;
}

.body-container {
  padding-top: 50px;
}

.main {
  width: 100%;
  display: flex;
}


